@charset "UTF-8";

body {
	width: 800px;
	margin: 0px auto 0px auto;
	background: -moz-linear-gradient(50% 0% -90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 199, 225, 1) 0%, rgba(86, 55, 155, 1) 49.95%, rgba(255, 255, 255, 1) 100%, rgba(35, 31, 32, 1) 100%);
	background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 199, 225, 1) 0%, rgba(86, 55, 155, 1) 49.95%, rgba(255, 255, 255, 1) 100%, rgba(35, 31, 32, 1) 100%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgba(255, 255, 255, 1)), color-stop(0, rgba(217, 199, 225, 1)), color-stop(0.4995, rgba(86, 55, 155, 1)), color-stop(1, rgba(255, 255, 255, 1)), color-stop(1, rgba(35, 31, 32, 1)));
	background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 199, 225, 1) 0%, rgba(86, 55, 155, 1) 49.95%, rgba(255, 255, 255, 1) 100%, rgba(35, 31, 32, 1) 100%);
	background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(217, 199, 225, 1) 0%, rgba(86, 55, 155, 1) 49.95%, rgba(255, 255, 255, 1) 100%, rgba(35, 31, 32, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#231F20' ,GradientType=0)";
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(217, 199, 225, 1) 0%, rgba(86, 55, 155, 1) 49.95%, rgba(255, 255, 255, 1) 100%, rgba(35, 31, 32, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#231F20', GradientType=0);

}

nav {
	width: 790px;
	height: 30px;
	padding: 10px 10px 10px 0px;
	margin: 0px auto 0px auto;
	float: left;

}

header {
	width: 780px;
	min-height: 350px;
	margin: 0px auto 0px auto;
	padding: 0px 10px 0px 10px;
	background: rgba(0, 0, 0, 1.00);
	background-position: bottom right;
	background-repeat: no-repeat;
	float: left;
}

header img {
	margin: 10px;
}

footer {
	width: 780px;
	margin: 0px auto 0px auto;
	padding: 10px;
	clear: both;
	float: left;
}

.main-text {
	width: 770px;
	margin: 0px auto 0px auto;
	padding: 10px 15px 10px 15px;
	float: right;
}

.main-text img {
	float: right;
	width: 350px;
	padding: 0px 20px 10px 0px;
	margin: 0px;
}

nav ul {
	width: 800px;
	margin: 0px auto 0px auto;
	text-align: left;
}

nav ul li {
	list-style-type: none;
	display: block;
	margin-right: 50px;
	float: left;
}

h1 {
	font-weight: normal;
	margin: 10px 0px 15px 0px;
}